body{
    background-color: whitesmoke;
}
h1{
    color: orange;
}
#main{
    text-align: center;
}
#browns{
    width: 100%;
    border-radius: 50%;
}
#odell{
    width: 100%;
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}
a{
    text-decoration: none;
}
a:hover{
    color: orange;
}